h1{
    font-family: sans-serif;
    
    }
    
    #paragraph-font {
        color: blue;
    
        font-weight: 600;
        font-size: 3em;
        color: black
        ;
    }
    
    body {
    font-style: italic;
        font-size: 16px;
        line-height: 40px;
        text-align:center    ;
        background-color: rgb(400, 200, 100);
        text-emphasis-color: red;
        color: blue;
       
        text-decoration: underline;
    }
    #yellow-list {
    
        background-color: yellow;
    }
    
    #red-list {
    
        background-color: red;
    }
    
    #marrom-list {
    
        background-color: brown;
    }